<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title>Hyperbolic Time Chamber | Public Augmented Reality Kinectome v. 0.2.0</title>
    <link rel='stylesheet' type='text/css' href='../css/coreUI.css' />
    <script src='../js/coreUX.js'></script>
    <script src='../js/XRAudioPlayer.js'></script>
    <script src='../js/XRBodyLayer.js'></script>
    <script src='../js/XRHumanBody.js'></script>
    <script src='../js/XREnvironment.js'></script>
    <script src='../js/aframe.min.js'></script>
    <script src="https://unpkg.com/aframe-animation-component@^4.1.2/dist/aframe-animation-component.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            /*
            *   -----------------------------------------------------------------------------------------------------------
            *                                               LEDGERSPACE
            *   -----------------------------------------------------------------------------------------------------------
            *
            */
            
            var HouseOfVenus = new TreeHouse();
            
            HouseOfVenus.buildLedger('Hyperbolic Time Chamber', {video: true, audio: false, frame: 'dynamic'});
            
            
            /*
            *   -----------------------------------------------------------------------------------------------------------
            *                                                  TERMS
            *   -----------------------------------------------------------------------------------------------------------
            *
            */
            
            var trainingRoom = new XREnvironment(10, 10, 10); // smart conrtact for a hyperreality space, the space is being used for business purposes hence the name "myOffice"
            
            var fighter = new XRHumanBody('Patrice-Morgan', 1.85, 75.2); //
            var karategi = new XRBodyLayer('outfit0', [{name: 'regbodytop', obj: '../media/model/regbodytop.obj', mtl: '../media/model/regbodytop.mtl', png: '../media/model/regbodytop.png'},{},{},{},{}]);

            fighter.addLayer(karategi);
            
            trainingRoom.add(fighter, '1 2 2');
            
            /*
            *   -----------------------------------------------------------------------------------------------------------
            *                                  SIGNATURE - LOAD CONTRACT ONTO HOUSE LEDGER
            *   -----------------------------------------------------------------------------------------------------------
            *
            */
            
            HouseOfVenus.loadExperience(trainingRoom);
             
        });
    </script>
</head>
<body>
    <div class='main-app-container'>
    </div>
</body>
</html>