<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PARK DES PRINCES | The trail of debauchery begins here | Base of the first pARk | v. 0.0.1</title>
    <link rel='stylesheet' href='../css/main.css' type='text/css'/>
    <script>
        
        
        document.addEventListener('DOMContentLoaded', function(){
            
        });
    </script>
</head>
<body>
    <div id='main-app-container'>
        <div id='main-app-header'>
            
        </div>
        <div id='main-app-body'>
            
        </div>
    </div>
</body>
</html>