<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title>XR Environment draft</title>
    <link rel='stylesheet' type='text/css' href='../css/coreUI.css' />
    <script src='../js/coreUX.js'></script>
    <script src='../js/XRAudioPlayer.js'></script>
    <script src='../js/XREnvironment.js'></script>
    <script src='../js/aframe.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            
            coreUX.buildLedger('sample-universe-app-container');
            
            var myUniverse = new XREnvironment(15, 20, 10);
            
            var myPlaylist = new XRAudioPlayer();
            
            var collection = {
                'song 1': {
                    coverURL: '../media/img/Blonde.png',
                    audioURL: '../media/audio/Nights.mp3',
                    metadata: {
                        title: 'Nights',
                        author: 'Frank Ocean',
                        year: 2016
                    }
                },
                'song 2': {
                    coverURL: '../media/img/OracularSpectacular.png',
                    audioURL: '../media/audio/TheYouth.mp3',
                    metadata: {
                        title: 'The Youth',
                        author: 'MGMT',
                        year: 2007
                    }
                },
                'song 3': {
                    coverURL: '../media/img/Yesterday.png',
                    audioURL: '../media/audio/Yesterday.mp3',
                    metadata: {
                        title: 'Yesterday',
                        author: 'Noname',
                        year: 2016
                    }
                },
            };

            myPlaylist.addFromList(collection);
            
            myUniverse.add(myPlaylist);
            
            coreUX.loadExperience(myUniverse);
            
        });
    </script>
</head>
<body>
    <div class='main-app-container'>
    </div>
</body>
</html>